.slider{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    max-width: 250%;
    height: 100vh;
    background: white;

}
.slideritems{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0px 20px;
    padding: 5px 10px ;
    border-radius: 6px;
    background-color: white;
    gap: 20px;
    cursor: pointer;
}