.all1{
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.backgroundImage{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%; 
  }
  .line{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%; 

  }
  
.master {
    display: flex;
    gap: 1rem;
    height: 300px;
    width: 95%;
  }
  
  .master > div {
    flex: 1;
    transition: all 1s ease;
    border-style: solid;
    border-color: rgb(155, 147, 147);
    overflow: hidden; 
  }
  
  .master > div:nth-child(1) {
    background-image: url("../Assets2/asserts/ani1.jpg");
    background-position: center;
    background-size: cover;
  }
  
  .master  div:nth-child(2) {
    background-image: url("../Assets2//asserts/ani2.jpg");
    background-position: center;
    background-size: cover;
  }
  
  .master  div:nth-child(3) {
    background-image: url("../Assets2//asserts/ani3.jpg");
    background-position: center;
    background-size: cover;
  }
  
  .master  div:nth-child(4) {
    background-image: url("../Assets2//asserts/ani4.jpg");
    background-position: center;
    background-size: cover;
  }
  .master  div:hover {
    flex: 3; 
  }
  .title1{
  
      text-align: center;
   font-size: 29px;
      margin: 0;
      width: 600px;
      
      background-image: url("../Assets2//asserts/aniff.webp");
      background-repeat: no-repeat;
      background-position: center;
      color: transparent;
      background-clip: text;
      
  

  }
  .title2{
  
    text-align: center;
 font-size: 33px;
  color: black;
    


}
  .title1 img{
    width: 50px;

  }
